.container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: space-between;
	max-width: 1230px;
	padding: 1rem;

	&_item {
		height: 300px;
		width: 300px;
		padding: 2rem;
		// background-image: url(../src/assets/menu.jpg);
		border-radius: 2px;

		&_img {
			object-fit: cover;
		}
	}
}

.item1 {
	width: max-content;
}
