.poppins_thin {
	font-family: "Poppins", serif;
	font-weight: 100;
	font-style: normal;
}

.poppins_extralight {
	font-family: "Poppins", serif;
	font-weight: 200;
	font-style: normal;
}

.poppins_light {
	font-family: "Poppins", serif;
	font-weight: 300;
	font-style: normal;
}

.poppins_regular {
	font-family: "Poppins", serif;
	font-weight: 400;
	font-style: normal;
}

.poppins_medium {
	font-family: "Poppins", serif;
	font-weight: 500;
	font-style: normal;
}

.poppins_semibold {
	font-family: "Poppins", serif;
	font-weight: 600;
	font-style: normal;
}

.poppins_bold {
	font-family: "Poppins", serif;
	font-weight: 700;
	font-style: normal;
}

.poppins_extrabold {
	font-family: "Poppins", serif;
	font-weight: 800;
	font-style: normal;
}

.poppins_black {
	font-family: "Poppins", serif;
	font-weight: 900;
	font-style: normal;
}

.poppins_thin_italic {
	font-family: "Poppins", serif;
	font-weight: 100;
	font-style: italic;
}

.poppins_extralight_italic {
	font-family: "Poppins", serif;
	font-weight: 200;
	font-style: italic;
}

.poppins_light_italic {
	font-family: "Poppins", serif;
	font-weight: 300;
	font-style: italic;
}

.poppins_regular_italic {
	font-family: "Poppins", serif;
	font-weight: 400;
	font-style: italic;
}

.poppins_medium_italic {
	font-family: "Poppins", serif;
	font-weight: 500;
	font-style: italic;
}

.poppins_semibold_italic {
	font-family: "Poppins", serif;
	font-weight: 600;
	font-style: italic;
}

.poppins_bold_italic {
	font-family: "Poppins", serif;
	font-weight: 700;
	font-style: italic;
}

.poppins_extrabold_italic {
	font-family: "Poppins", serif;
	font-weight: 800;
	font-style: italic;
}

.poppins_black_italic {
	font-family: "Poppins", serif;
	font-weight: 900;
	font-style: italic;
}
